mat-list-item {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 1rem;
  }

  mat-form-field {
    max-width: 20rem;
    width: 20rem;
  }
  mat-grid-tile {
     margin: 0;
     padding: 0;
 
  }
  table {
      width: 90%;
      height: 90%;
    }
